@import "../../app/variabels";

.cardContainer{
    border-radius: 5px;
    border: 2px solid aliceblue;
    width: 300px;

    &__cardHeader{
        background-color: aliceblue;

        img{
            width: 100%;
            height: 200px;
            background-size: contain;
            object-fit: cover;

        }

        h1{
            background-color: $primaryColor;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            font-size: 25px;
        }
    }

    &__cardDesc{
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
            font-size: 25px;
            letter-spacing: 1px;
        }

        h3 {
            font-size: 15px;
        }
    }

}