@import "../variabels";


.containerHomePage{
    padding-bottom: 20px;
}


.heroSection{
    width: 100%;
    height: 100vh;
    background-image: url("/images/homePage/heroSection.jpg");
    // filter: blur(3px);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-shadow: 0px 1px 1px rgb(0 0 0 / 0.1), 0px 1px 2px rgb(0 0 0 / 0.1), 0px 2px 4px rgb(0 0 0 / 0.1);

    &__title{
        font-size: 50px;
        letter-spacing: 2px;
    }

    &__subTitle{
        font-size: 25px;
        letter-spacing: 1px;
    }

    &__btnCTA{
        background-color: $secondaryColor;
        border-radius: 7px;
        padding: 12px;
        cursor: pointer;
        font-size: 20px;
        letter-spacing: 1px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        width: 200px;
        font-weight: 600;
    }

    &__btnCTA:hover{
        background-color: #e11d48;
    }
}

.konserUnggulan{
    margin-top: 25px;

    > h1{
        font-size: 40px;
    }

    &__listConcert{
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
    }
}


.upComingAtCity{
    margin-top: 25px;

    > h1{
        font-size: 40px;
    }

    &__listCity{
        margin-top: 20px;
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 20px;


        li{
            background-color: azure;
            color: black;
            font-size: 25px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 20px;
            padding-left: 20px;
            border-radius: 7px;
            letter-spacing: 1px;
        }

        button{
            cursor: pointer;
            border-radius: 7px;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-right: 20px;
            padding-left: 20px;

            img{
                height: 40px;
                width: 40px;
            }
        }
    }
}