@import "../variabels";


.containerHomePage{
    padding-bottom: 20px;
}

.heroSection{
    width: 100%;
    height: 100vh;
    background-image: url("/images/homePage/heroSection.jpg");
    // filter: blur(3px);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-shadow: 0px 1px 1px rgb(0 0 0 / 0.1), 0px 1px 2px rgb(0 0 0 / 0.1), 0px 2px 4px rgb(0 0 0 / 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &__title{
        font-size: 45px;
        letter-spacing: 2px;
    }

    &__subTitle{
        font-size: 25px;
        letter-spacing: 1px;
    }

    &__btnCTA{
        background-color: $secondaryColor;
        border-radius: 7px;
        padding: 12px;
        cursor: pointer;
        font-size: 20px;
        letter-spacing: 1px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        width: 200px;
        font-weight: 600;
    }

    &__btnCTA:hover{
        background-color: #e11d48;
    }
}

.konserUnggulan{
    margin-top: 30px;

    > h1{
        font-size: 40px;
        margin-bottom: 25px;
    }

    &__listConcert{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
    }
}


.upComingAtCity{
    margin-top: 30px;

    > h1{
        font-size: 40px;
        margin-bottom: 30px;
    }

    &__listCity{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 30px;

        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
            overflow-x: auto;

            li{
                background-color: azure;
                color: black;
                font-size: 25px;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 20px;
                padding-left: 20px;
                border-radius: 7px;
                letter-spacing: 1px;
                cursor: pointer;
            }
        }

        > img{
            height: 45px;
            width: 45px;
        }

        > img:nth-child(1){
            background-color: aliceblue;
            padding: 7px;
            cursor: pointer;
            border-radius: 7px;
        }

        > img:nth-child(3){
            background-color: aliceblue;
            padding: 7px;
            cursor: pointer;
            rotate: 180deg;
            border-radius: 7px;
        }
    }

    &__city{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
        margin-top: 35px;

        > div{
            display: flex;
            gap: 30px;
            overflow-x: auto;
        }

        > img{
            width: 50px;
            height: 50px;
        }

        > img:nth-child(1){
            background-color: aliceblue;
            border-radius: 100%;
            padding: 7px;
            rotate: 180deg;
            cursor: pointer;
        }

        > img:nth-child(3){
            background-color: aliceblue;
            border-radius: 100%;
            padding: 7px;
            cursor: pointer;
        }

        > img:hover{
            background-color: azure;
        }
    }
}

// responsive design

// @media (width >= 40rem ){
//     .upComingAtCity{
//     margin-top: 30px;

//     > h1{
//         font-size: 40px;
//         margin-bottom: 30px;
//     }

//     &__listCity{
//         display: flex;
//         align-items: center;
//         justify-content: space-evenly;
//         gap: 30px;

//         ul{
//             list-style: none;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             gap: 25px;
//             overflow-x: auto;

//             li{
//                 background-color: azure;
//                 color: black;
//                 font-size: 25px;
//                 padding-top: 10px;
//                 padding-bottom: 10px;
//                 padding-right: 20px;
//                 padding-left: 20px;
//                 border-radius: 7px;
//                 letter-spacing: 1px;
//                 cursor: pointer;
//             }
//         }

//         > img{
//             height: 45px;
//             width: 45px;
//         }

//         > img:nth-child(1){
//             background-color: aliceblue;
//             padding: 7px;
//             cursor: pointer;
//             border-radius: 7px;
//         }

//         > img:nth-child(3){
//             background-color: aliceblue;
//             padding: 7px;
//             cursor: pointer;
//             rotate: 180deg;
//             border-radius: 7px;
//         }
//     }

//     &__city{
//         display: flex;
//         align-items: center;
//         justify-content: space-around;
//         gap: 30px;
//         margin-top: 35px;

//         > div{
//             display: flex;
//             gap: 20px;
//         }

//         > img{
//             width: 50px;
//             height: 50px;
//         }

//         > img:nth-child(1){
//             background-color: aliceblue;
//             border-radius: 100%;
//             padding: 7px;
//             rotate: 180deg;
//             cursor: pointer;
//         }

//         > img:nth-child(3){
//             background-color: aliceblue;
//             border-radius: 100%;
//             padding: 7px;
//             cursor: pointer;
//         }

//         > img:hover{
//             background-color: azure;
//         }
//     }
// }
// }