.btnTrigger{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #0f172a;
    border: none;
    width: 250px;

    &__textContent {
        display: flex;
        gap: 10px;
        align-items: center;

        > img {
            width: 35px;
            height: 35px;
        }

        > h4 {
            color: #f1f5f9;
            font-size: 23px;
            letter-spacing: 1px;
        }
    }

    &__arrow{
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        color: #94a3b8;
        width: 35px;
        height: 35px;

        &.turnBottom{
            rotate: 90deg;
        }
    }
    
}

.containerFilter {
    max-height: 0;
    background-color: #334155;
    border-radius: 5px;
    margin-top: 15px;

    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    overflow: hidden;
    opacity: 0;
    transform: translateY(-5px);

    transition:
        max-height 0.5s ease,
        opacity 0.3s ease,
        transform 0.3s ease,
        padding 0.3s ease;

    &.showContent{
        max-height: 450px;
        padding: 15px;
        opacity: 1;
        transform: translateY(0);
    }
}