.textList{

    > button{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        background-color: #0f172a;
        border: none;
        width: 250px;

        .btnTrigger {
            display: flex;
            gap: 10px;
            align-items: center;

            > img {
                width: 35px;
                height: 35px;
            }
        }

        .arrow{
            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;

            &.turnBottom{
                rotate: 90deg;
            }

            > div {
                height: 3px;
                width: 17px;
                border-radius: 3px;
                background-color: #94a3b8;
            }

            :nth-child(1){
                rotate: 45deg;
                translate: 0 -5px;
            }
            :nth-child(2){
                rotate: -45deg;
                translate: 0 3px;
            }
        }

    }
}

.containerChoosenCity{
    max-height: 0;
    background-color: #64748b;
    border-radius: 5px;
    margin-top: 15px;

    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    overflow: hidden;
    opacity: 0;
    transform: translateY(-5px);

    transition:
        max-height 0.5s ease,
        opacity 0.3s ease,
        transform 0.3s ease,
        padding 0.3s ease;

    &.showContent{
        max-height: 340px;
        padding: 15px;
        opacity: 1;
        transform: translateY(0);
    }

    > input {

    }

    &__listCity{
        display: flex;
        flex-direction: column;
        gap: 10px;

        > li {
            display: flex;
            align-items: center;
            gap: 10px;

            > input {
                width: 20px;
                height: 20px;
            }
        }
    }
}