.containerCounter{
    display: flex;
    align-items: center;
    gap: 20px;

    &__resultDisplay{
        font-size: 40px;
    }

    &__buttonClick{
        background-color: aquamarine;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
        border-radius: 5px;
        font-weight: 700;
        font-size: 15px;
        cursor: pointer;
    }
}