.title{
    padding-bottom: 20px;
    letter-spacing: 1.5px;
    width: 95%;
    margin: auto;
    font-size: 40px;
    margin-top: 20px;
}

.scheduleConcert{
    display: flex;
    column-gap: 20px;

    &__content{
        width: 75%;
        

        &__listCity{
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #94a3b8;
            color: #0f172a;
            font-weight: 600;
            font-size: 20px;
            height: 60px;
            width: 100%;
            border-radius: 5px;
            padding: 0px 15px 0px 15px;
            letter-spacing: 1.5px;
        }

        &__container{
            margin-top: 30px;

            &__cardConcerts{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 50px;
                place-items: center;
            }

        }
    }
}