.containerConcert{
    margin-top: 20px;

    &__title{
        font-size: 20px;
        padding-bottom: 25px;
        letter-spacing: 1.5px;
        width: 95%;
        margin: auto;
    }

    &__contentConcert{
        display: flex;
        gap: 15px;

        &__sidebar{
            font-size: 23px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            flex-basis: 20%;
            background-color: #0f172a;
            padding: 20px;

            &__filter{
                background-color: #334155;
                padding: 10px;
                border-radius: 5px;
                letter-spacing: 1px;
                margin-bottom: 5px;
                display: flex;
                justify-content: space-between;

                > img {
                    width: 30px;
                    height: 30px;
                }
            }

            > li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;

                .textList{
                    display: flex;
                    gap: 10px;

                    > img {
                        width: 30px;
                        height: 30px;
                    }
                }

                .arrow{
                    > div {
                        height: 3px;
                        width: 17px;
                        border-radius: 3px;
                        background-color: #94a3b8;
                    }

                    :nth-child(1){
                        rotate: 45deg;
                        translate: 0 -5px;
                    }
                    :nth-child(2){
                        rotate: -45deg;
                        translate: 0 3px;
                    }
                }

            }
        }

        &__informConcert{
            flex-basis: 80%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            > div {
                padding-left: 25px;
            }

            > img{
                width: 100%;
                object-fit: cover;
                background-position: bottom;
                max-height: 300px;
            }

            &__nameConcert{
                margin-top: 10px;
                display: flex;
                justify-content: space-between;

                > img {
                    width: 250px;
                    height: 170px;
                    object-fit: cover;
                }

                > div {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 70%;

                    > h2{
                        font-size: 30px;
                        letter-spacing: 1.5px;
                    }

                    > h4 {
                        font-size: 20px;
                        letter-spacing: 1px;
                    }

                    > div {
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        > img{
                            width: 30px;
                            height: 30px;
                        }

                        >h5 {
                            font-size: 15px;
                            font-weight: 400;
                            letter-spacing: 1px;
                        }
                    }
                }

            }

            h3{
                font-size: 30px;
                margin-bottom: 10px;
            }

            p {
                text-align: justify;
                line-height: 23px;
            }

        }
    }

    &__btnChosenTicket{
        margin-top: 35px;
        text-align: end;
    }

    span {
        border: 1.7px solid #94a3b8;
    }
}