.search{
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;

    &__img{
        width: 20px;
        height: 20px;
        position: absolute;
        left: 5px;
    }

    &__inputSearch{
        height: 35px;
        padding-right: 10px;
        padding-left: 30px;
        border-radius: 5px;
        font-size: 15px;
    }
}