.title{
    padding-bottom: 20px;
    letter-spacing: 1.5px;
    width: 95%;
    margin: auto;
    font-size: 40px;
}

.contentConcert{
    display: flex;
    gap: 25px;

    &__informConcert{
        flex-basis: 75%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        > img{
            width: 100%;
            object-fit: cover;
            background-position: bottom;
            max-height: 300px;
        }

        &__nameConcert{
            margin-top: 10px;
            display: flex;
            justify-content: space-between;

            > img {
                width: 250px;
                height: 170px;
                object-fit: cover;
            }

            > div {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 70%;

                > h2{
                    font-size: 30px;
                    letter-spacing: 1.5px;
                }

                > h4 {
                    font-size: 20px;
                    letter-spacing: 1px;
                }

                > div {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    > img{
                        width: 30px;
                        height: 30px;
                    }

                    >h5 {
                        font-size: 15px;
                        font-weight: 400;
                        letter-spacing: 1px;
                    }
                }
            }

        }

        &__descConcert{
            display: flex;
            flex-direction: column;
            gap: 15px;

            h2 {
                font-size: 30px;
                margin-bottom: 10px;
            }

            p {
                text-align: justify;
                line-height: 23px;
            }
        }

        &__typeTicket{
            margin-top: 15px;

            > h1 {
                margin-bottom: 25px;
                font-size: 30px;
            }

            &__chosenTicket{
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                row-gap: 25px;
            }
        }
    }
}

.btnChosenTicket{
    margin-top: 35px;
    text-align: end;
}