*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.globalContainer{
  background-color: #1e293b;
}

.rootContainer{
  width: 95%;
  margin: auto;
  color: azure;
}

Link {
  text-decoration: none;
  color: aqua;
}

li{
  list-style: none;
}

.inputSearch{
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 5px;
  margin-bottom: 10px;

  &__label{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
  }

  &__input{
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
  }
}

