*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Hilangkan arrow di Chrome, Safari, Edge, dan Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hilangkan arrow di Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.globalContainer{
  background-color: #1e293b;
}

.rootContainer{
  width: 95%;
  margin: auto;
  color: azure;
  padding-bottom: 30px;
}

li{
  list-style: none;
}

.inputSearch{
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 5px;
  margin-bottom: 10px;

  &__label{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
  }

  &__input{
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
  }
}

button{
  border: none;
}