.listGenre{
    display: flex;
    flex-direction: column;
    gap: 10px;

    > li {
        display: flex;
        align-items: center;
        gap: 13px;

        > input {
            width: 17px;
            height: 17px;
        }
    }
}