.containerChooseTicket{
    border: 2px solid #94a3b8;
    border-radius: 5px;
    padding: 15px;
    background-color: #475569;

    &__header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        background-color: #334155;
        padding: 15px 20px 15px 20px;
        border-radius: 7px;

        &__qtyTicket{
            display: flex;
            gap: 20px;
            align-items: center;
            font-size: 20px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            > span {
                background-color: #64748b;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 5px;
                font-size: 30px;
                cursor: pointer;
            }
        }
    }

    &__desc{
        display: flex;
        justify-content: space-between;

        &__benefit{

            > ul {
                display: flex;
                margin-top: 15px;
                flex-direction: column;
                gap: 7px;
            }
        }
    }
}