.containerChooseTicket{
    border: 2px solid #94a3b8;
    border-radius: 5px;
    padding: 15px;
    background-color: #475569;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__descTicket{
        display: flex;
        flex-direction: column;
        gap: 13px;

        > h2 {
            font-size: 26px;
            letter-spacing: 1px;
        }

        > ul li{
            margin-bottom: 7px;
        }

    }

    &__qtyTicket{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-around;
        font-size: 20px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        > span {
            background-color: #64748b;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 35px;
            border-radius: 5px;
            font-size: 30px;
            cursor: pointer;
        }
    }

    &__remainingTicket{
        background-color: #1e293b;
        padding: 15px 20px 15px 20px;
        border-radius: 7px;
        text-align: center;
    }
}