.navbar{
  background-color: #7c3aed;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;

  &__text{
    flex-basis: 60%;
    list-style: none;
    display: flex;
    color: whitesmoke;
    font-size: 1.6rem;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 1px;

    .linkNavbar{
      text-decoration: none;
      color: aliceblue;
    }

  }

  &__logo{
    flex-basis: 20%;
    height: 80%;
    object-fit: contain;
  }

  &__search{
    flex-basis: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

    &__img{
      width: 20px;
      height: 20px;
      position: absolute;
      left: 5px;
    }

    &__inputSearch{
      height: 30px;
      padding-right: 10px;
      padding-left: 30px;
      border-radius: 5px;
    }
  }
}