.navbar{
  background-color: #535bf2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 70px;
  margin-bottom: 20px;

  &__ul{
    list-style: none;
    display: flex;
    color: seashell;
    font-size: 2rem;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;

    li .link{
      text-decoration: none;
      color: white;
    }

    li .link:hover{
      color: darkgoldenrod;
    }
  }
}