.containerRangePrice{
    max-height: 0;
    background-color: #334155;
    border-radius: 5px;
    margin-top: 15px;

    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    overflow: hidden;
    opacity: 0;
    transform: translateY(-5px);

    transition:
        max-height 0.5s ease,
        opacity 0.3s ease,
        transform 0.3s ease,
        padding 0.3s ease;

    &.showContent{
        max-height: 450px;
        padding: 15px;
        opacity: 1;
        transform: translateY(0);
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 10px;

        > div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 18px;
        }
    }
}