.rangePrice{
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__price {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 18px;

        > div {
            display: flex;
            gap: 2px;
            align-items: center;
            justify-content: center;

            > input[type=number]{
                padding: 3px 6px 3px 6px;
                border-radius: 5px;
                width: 60px;
                font-size: 15px;
            }
        }

    }
}