.title{
    padding-bottom: 20px;
    letter-spacing: 1.5px;
    width: 95%;
    margin: auto;
    font-size: 40px;
}

.containerCheckout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    // column-gap: 20px;

    &__summaryOrder{
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        &__title{
            font-size: 28px;
            letter-spacing: 1px;
        }

        &__orderTicket{
            display: flex;
            flex-direction: column;
            row-gap: 15px;

            > div{
                display: flex;
                align-items: center;
                column-gap: 15px;

                >img {
                    width: 30px;
                }

                > span {
                    font-size: 20px;
                    letter-spacing: 1px;
                    font-weight: 600;
                }
            }
        }

        &__priceTicket{
            
            > h3{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;
            }
        }

        &__totalPayment{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 23px;
        }

        &__infoPaymentSecure{
            display: flex;
            column-gap: 10px;
            align-items: end;
            justify-content: center;

            > img{
                width: 25px;
            }

            >span{
                font-size: 18px;
                letter-spacing: 1px;
            }
        }
    }

    &__dataBuyer{
        flex-basis: 50%;

        &__title{
            font-size: 28px;
            letter-spacing: 1px;
        }

        &__payment{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            &__method{
                display: flex;
                justify-content: space-between;

                >h2{
                    text-align: center;
                    width: 100%;
                    padding: 10px 0px 10px 0px;
                }
                
                :nth-child(1){
                    background-color: #475569;
                }
            }

            &__listPayment{
                display: flex;
                align-items: center;
                column-gap: 15px;

                :nth-child(1){
                    width: 90px;
                }

                :nth-child(2){
                    width: 90px;
                }

                :nth-child(3){
                    width: 70px;
                     height: 30px;
                    object-fit: cover;
                }

                :nth-child(4){
                    width: 50px;
                    height: 30px;
                    object-fit: cover;
                }
            }

            &__inputDataPayment{

            }
        }
    }
}