.title{
    padding-bottom: 20px;
    letter-spacing: 1.5px;
    width: 95%;
    margin: auto;
    font-size: 40px;
}

.containerCheckout{
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__summaryOrder{
        flex-basis: 35%;
        display: flex;
        flex-direction: column;
        row-gap: 17px;
        border: 2px solid aliceblue;
        padding: 25px;
        border-radius: 10px;

        &__title{
            font-size: 28px;
            letter-spacing: 1px;
        }

        &__orderTicket{
            display: flex;
            flex-direction: column;
            row-gap: 15px;

            > div{
                display: flex;
                align-items: center;
                column-gap: 15px;

                >img {
                    width: 30px;
                }

                > span {
                    font-size: 20px;
                    letter-spacing: 1px;
                    font-weight: 600;
                }
            }
        }

        &__priceTicket > h3{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }

        &__totalPayment{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 23px;
        }

        &__infoPaymentSecure{
            display: flex;
            column-gap: 10px;
            align-items: end;
            justify-content: center;

            > img{
                width: 25px;
            }

            >span{
                font-size: 15px;
                letter-spacing: 1px;
            }
        }
    }

    &__dataBuyer{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        flex-basis: 45%;
        border: 2px solid aliceblue;
        padding: 25px;
        border-radius: 10px;

        &__title{
            font-size: 28px;
            letter-spacing: 1px;
        }

        &__payment{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            .animateChangeMethod{
                
            }

            &__method{
                display: flex;
                justify-content: space-between;
                cursor: pointer;

                >h2{
                    text-align: center;
                    width: 100%;
                    padding: 10px 0px 10px 0px;
                }

                .changeMethod{
                    background-color: #475569;
                }
            }

            &__listPayment{
                display: flex;
                align-items: center;
                justify-content: space-around;
                background-color: #cbd5e1;
                padding: 15px 0px 15px 0px;
                border-radius: 5px;
                margin-bottom: 15px;

                :nth-child(1){
                    width: 90px;
                }

                :nth-child(2){
                    width: 90px;
                }

                :nth-child(3){
                    width: 70px;
                     height: 30px;
                    object-fit: cover;
                }

                :nth-child(4){
                    width: 50px;
                    height: 30px;
                    object-fit: cover;
                }
            }

            // &__e-wallet{
            //     display: flex;
            //     align-items: center;
            //     justify-content: space-around;
            //     background-color: #cbd5e1;
            //     padding: 15px 0px 15px 0px;
            //     border-radius: 5px;

            //     :nth-child(1){
            //         width: 90px;
            //     }

            //     :nth-child(2){
            //         width: 90px;
            //     }

            //     :nth-child(3){
            //         width: 70px;
            //          height: 30px;
            //         object-fit: cover;
            //     }

            //     :nth-child(4){
            //         width: 50px;
            //         height: 30px;
            //         object-fit: cover;
            //     }
            // }

            &__inputDataPayment{
                margin-top: 10px;

                label {
                    display: block;
                    font-size: 23px;
                    margin-bottom: 7px;
                }

                input{
                    width: 100%;
                    padding: 5px 10px 5px 10px;
                    font-size: 15px;
                    letter-spacing: 1px;
                }

                .periodeValidity{
                    margin-top: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    column-gap: 15px;
                    
                    >div{
                        width: 100%;
                    }
                }
            }

            &__saveInformBuy{
                display: flex;
                align-items: center;
                column-gap: 10px;
                margin-top: 15px;
                margin-bottom: 15px;

                > input[type=checkbox] {
                    width: 15px;
                    height: 15px;
                    cursor: pointer;
                }
            }

            &__btnConfirm{
                display: flex;
                column-gap: 20px;
            }
        }
    }
}