.sidebar{
    font-size: 23px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-basis: 25%;
    background-color: #0f172a;
    padding: 20px;

    &__filter{
        background-color: #334155;
        padding: 10px;
        border-radius: 5px;
        letter-spacing: 1px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;

        > img {
            width: 30px;
            height: 30px;
        }
    }
}