.containerFooter{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
    gap: 15px;
}

.link {
  text-decoration: none;
  color: #f0f8ff;
}

.link:hover{
    color: rgb(54, 54, 238);
    text-decoration: underline;
}

.footerInfoWeb{
    width: 80%;
    flex-basis: 75%;

    &__title{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        letter-spacing: 1px;

        > img{
            width: 350px;
        }

        > div{
            height: 50px;
            width: 2px;
            background-color: #94a3b8;
        }

        > h3{
            font-size: 23px;
            padding-left: 10px;
        }
    }

    &__descList{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;

        &__first{

            > h1{
                margin-bottom: 10px;
            }

            > ul{
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-size: 20px;
            }
        }

        &__second{

            > h1{
                margin-bottom: 10px;
            }

            > ul{
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-size: 20px;
            }
        }

        &__third{

            > h1{
                margin-bottom: 10px;
            }

            > ul{
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-size: 20px;

                > li{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                img{
                    width: 25px;
                    height: 25px;
                }
            }

            
        }
    }
}

.containerFooter .lineVertical{
    height: 250px;
    width: 2px;
    background-color: #94a3b8;
}

.footerInfoApp{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 25%;

    &__downloadApp{
        display: flex;
        gap: 10px;
        flex-direction: column;
        
        > h1 {
            font-size: 25px;
            letter-spacing: 1.5px;
        }

        img {
            width: 40px;
            height: 40px;
        }

        &__playstore{
            background-color: #0f172a;
            border-radius: 5px;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 5px;
        }

        &__appStore{
            background-color: #0f172a;
            border-radius: 5px;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 5px;
        }
    }

    &__sosmed{
        display: flex;
        justify-content: center;
        gap: 15px;

        img {
            width: 35px;
            height: 35px;
        }

        .toSosmed{
            background-color: #94a3b8;
            height: 45px;
            width: 45px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.lineHorizontal{
    height: 2px;
    width: 95%;
    margin: auto;
    background-color: #94a3b8;
}

.copyright{
    font-size: 17px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
}