.containerCloseBtn{

    > div {
        width: 25px;
        height: 2px;
        background-color: #475569;
        border-radius: 5px;
    }

    :nth-child(1){
        rotate: 45deg;
        translate: 0 3px;
    }

    :nth-child(2){
        rotate: -45deg;
        translate: 0 1px;
    }
    

}
