.card{
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 350px;

    > img{
        width: 100%;
        object-fit: cover;
        height: 200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }   

    &__desc{
        background-color: #64748b;
        padding: 15px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        > div {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            > h2 {
                font-size: 25px;
                letter-spacing: 1px;
            }
    
            > p {
                font-size: 20px;
            }
    
            > h4 {
                font-size: 15px;
                font-weight: 400;
                letter-spacing: 1px;
            }
        }
    }
}

