.calendar{

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #cbd5e1;
        border-radius: 3px;
        font-size: 18px
    }
    
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        > span {
            font-size: 21px;
        }
    }

    &__days{
        margin-bottom: 15px;
        font-size: 20px;
    }

    &__days, &__dates{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
        gap: 7px;
    }

    &__dates button {
        &.active{
            background: #475569;
            color: #fff;
        }
    }
}